@font-face {
    font-family: "Open Sans";
    src: url(../fonts/opensans-condensed-regular.woff);
    font-weight: 400;
}


body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    
}


.container{
    width: 1240px;
    margin: 0 auto;
    height: 100%;
    
    
}

.hero{
    background: url(https://s3-alpha-sig.figma.com/img/6404/f1c2/4f8273c03b669d7a2a20c6874dd7a19e?Expires=1697414400&Signature=mUP~zp5vLaVO-gJ0rHpa06bNfKWAcQz6eCxKC0YyGSmZ6n5o2qLaUAKyNy~9mTsNCkz1yrpDI3YY4GztzODNqSjONOxmKn5ymXoyCv2v9Rl8Nh7XwRPHlQVFPI0fTN-UJJMehmBZAKYcBeQYn2Wb6dc4TjZ4rX4fnXZn2CaV2TFO9d6BRjtgzmCJwReWBygZBdHgdTEpyWINqzMjiVaWlLhrHMnK1y-vXe81gVJQ7eFmJMloMiG-yicoHwF6fWYF51dVY9f-OeE3sEOUGkVo~VX047xIMWj-9JkWWC6CLr0inD1S4AGnntuij29-7bGOWf6p~1GojrtDRLw3TinaJA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4)
    center / cover;
    
}


.logo{
    color: #fff;
    font-size: 29px;
    font-weight: 700;
    text-decoration: none;
    
}

 .header span{
color: #FFC80A;
font-family:  'Cedarville Cursive';
font-size: 38px;
font-weight: 900;
margin-left: -10px;
   
}

.header{
    display: flex;
    align-items: center;
    padding: 15px 0;

}

.nav{
    margin-left: auto;
    margin-right:40px;
}

.nav-link{
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2.4px;
    text-decoration: none;
    margin: 0 10px;
}

.hero-info{
    margin-top:100px;
}

.hero-pre-title{
color: #fff;
font-size: 14px;
font-weight: 700;
letter-spacing: 2.8px;
margin: 0;
}

.hero-title{
color: #fff;
font-size: 90px;
font-weight: 700;
line-height: 106px; 
margin: 20px 0 45px;
}

.btn{
width: 150px;
height: 38px;
border-radius: 50px;
background: #f8f400;
color: #212121;
font-size: 12px;
font-weight: 700;
line-height: 15px;
letter-spacing: 2.4000000953674316px;
text-align: center;

}

.popular{
    margin: 100px 0 100px;

}

.popular-header{
    display: flex;
    align-items:flex-end ;


}

.popular-sort{
    display: flex;
    align-items: center;
    gap: 20px;
}

.popular-sort-text{
    color: #212121;
font-size: 12px;
font-weight: 700;
letter-spacing: 2.4px;
}

.popular-header-title{
    color: #251f1f;
font-size: 36px;
font-weight: 700;
line-height: 48px; 
margin: 0 auto;

}
.popular-blocks{
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}



.popular-block-img-wrap img { 
    width: 100%;
    height: 100%;
}

.big-block{
    grid-column: 2/4;
}
.popular-block{
    border-radius: 8px;
    background: #c4c1c1;
    color: #f0e7e7;
    overflow: hidden;

}



.popular-block-info3{
    background: #000;
    color: #fff;
    padding: 43px;
}

.popular-block-info4{
    background: #f5ca2e;
    padding: 40px;
    overflow: hidden;
    border-radius: 8px;

}
.popular-block-title4{
    color: #fdfbfb;
    font: size 22px;
    font-weight: 400px;
    line-height: 32px;
    margin: 0 0 6px 0;
     
}
.popular-block-info{
    padding: 25px;
    color: #f5efef;
}

.popular-block-title{
    color: #f8f3f3;
    font: size 22px;
    font-weight: 400px;
    line-height: 32px;
    margin: 0 0 6px 0;
}
.popular-block-text{
    color: #fff;
    font-size: 14px;
    font-weight: 400px;
    line-height: 25px;
    margin: 0 0 15px 0;
}


 .popular-block-footer{
    display: flex;
    justify-content: space-between;
 }

 .popular-block-icons{
    display: flex;
    align-items: center;
    gap: 9px;
 }

 .popular-block-icons-text{
    color: #fff;
    font-size: 10px;
    font-weight: 700;
 }

 


 .footer{
    background: #2C2C2C;
    padding: 78px 0 25px;
    
 }

 

.footer_blocks{
    list-style:none;
    display: flex;
    justify-content: space-between;
    padding: 0 0 100px;
    margin: 0;
}

.footer_block-title{
    color: #FFF;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2.4px;
    margin: 0 0 17px;
}



.footer_block_nav{
   display: flex;
   flex-direction: column;
   gap: 15px;

  
}
  

.footer_block_nav-link{
    font-family: 'Open Sans';
    color: #837c7c;
    text-decoration: none;
   font-size: 14px;
   font-weight: 400;
   line-height: 24px;
}

.footer_block_social{
    display: flex;
    gap: 50px;
    
    
}



.footer_bottom {
    display: flex;
    align-items: center;
    padding: 15px 0 55px;
}

.footer_bottom span{
    color: #FFC80A;
font-size: 29px;
font-style: italic;
font-weight: 900;
}

.footer_bottom_nav-link{
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2.4px;
    text-decoration: none;

}
.footer_end{
    display: flex;
    justify-content: center;
}

.footer_end span{
    color: #4e4d4d;
    font-family: 'Open Sans';
    font-size: 12px;
   font-weight: 400px;
   line-height: 22px;
}

.footer_bottom_nav{
  display: flex;
  justify-content: space-around;

    gap: 40px;
  margin: 0 auto;
}
.footer_bottom_nav-link{
    display: flex;
    justify-content: space-between;
    gap: 68px;
}

.footer-end{
    display: flex;
    justify-content: center;
    color: rgba(200, 200, 200, 0.50);
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 400;
    line-height: 22px; 
}

